.header-container {
  background-color: #457b9d;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  flex: 1;
}

.logo {
  height: 2rem;
  width: auto;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 2;
  justify-content: flex-end;
}

.nav-menu li {
  padding: 0 2rem;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}

.nav-menu li:hover {
  color: #ffa500;
  text-decoration: underline;
}

.mobile-icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 64px;
    right: -300px;
    width: 17rem;
    height: 100vh;
    background: #457b9d;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 40px;
    transition: right 0.3s ease-in-out;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    font-size: 24px;
    padding: 1rem;
  }

  .mobile-icon {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: white;
  }
}
